/* molokai navbar background */
.navbar-inverse .container{
	background-color: #121212;
}

/* disable background-shadow */
.nav li a, .brand {
	text-shadow: none !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	     box-shadow: none;
}

/* --- molokai-inspired highlights --- */

/* green */
.brand {
	color: #a6e32d;
	background-color:#121212;
}

.navbar-inverse .brand:hover, .brand.active {
	background-color: #a6e32d;
	color: #121212;
}

.brand.active p::-moz-selection,
.brand.active p>*::-moz-selection {
	background: #a6e32d;
}

/* blue */
#blog a {
	color: #67d9f0;
}

#blog a:hover,
li#blog.active a {
	background-color: #67d9f0;
	color: #121212;
}

.blog-active p::-moz-selection {
	background: #67d9f0;
}

/* red */
#projects a {
	color: #e52222;
}

#projects a:hover,
li#projects.active a {
	background-color: #e52222;
	color: #121212;
}

.projects-active p::-moz-selection {
	background: #e52222;
}

/* purple */
#resume a {
	color: #c48dff;
}

#resume a:hover,
li#resume.active a {
	background-color: #c48dff;
	color: #121212;
}

.resume-active p::-moz-selection {
	background: #c48dff;
}

/* orange */
#contact a {
	color: #fc951e;
}

#contact a:hover,
li#contact.active a {
	background-color: #fc951e;
	color: #121212;
}

.contact-active p::-moz-selection {
	background: #fc951e;
}

